@import '~uswds/dist/css/uswds.css';

.usa-hero {
  background-image: none;
  position: relative;
}

.usa-hero__image {
  position: absolute !important;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.spending-agency__header {
  margin-bottom: '0';
}

.spending-agency__p {
  margin-top: 0;
}

.spending-agency__amount {
  font-size: 10rem;
  width: 100%;
}
